.add-recipe-section {
    margin: 1.5rem auto;
    max-width: 800px;
}

.add-recipe-form {
    padding: 1rem;
}

.add-recipe-title {
    font-family: Merriweather, serif;
}

.ingredient, .step {
    display: flex;
    margin: 0.5rem;
    align-items: center;
}

.step-number {
    margin-right: 0.5rem;
    padding-top: 1rem;
}

.form-buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: nowrap;
}

.form-buttons .btn {
    flex: 1;
    text-align: center;
}

#selected-tags {
    margin-top: 1rem;
    font-family: Fira Sans, sans-serif;
}

.modal-title {
    font-family: Merriweather, serif;
}