main {
    margin: 2rem;
    padding: 2rem;
}

.login-section, .register-section {
    margin: 1.5rem auto;
    max-width: 400px;
}

.login-title {
    margin-bottom: 1rem;
    font-family: Merriweather, serif;
}

.login-form, .register-form {
    padding: 1rem;
}

.form-label, .form-control {
    font-family: Fira Sans, sans-serif;
}

.register-title {
    font-family: Merriweather, serif;
}