@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Fira+Sans:wght@400;500&family=Dancing+Script:wght@400&display=swap");

.nav-search-form {
    max-width: 600px;
}

.main-title, .welcome-message {
    margin-bottom: 1rem;
    font-family: Merriweather, serif;
}

.recipes-section {
    margin: 1.5rem auto;
    max-width: 800px;
}

.repices-list {
    margin-top: 1.5rem;
}

#latest-recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.recipe-card {
    display: flex;
    padding: 1rem;
    max-width: calc(33.333% - 1rem); /* Varmistetaan, että leveys aina sama */
    flex: 0 0 calc(33.333% - 1rem); /* Max. 3 yhdellä rivillä */
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    font-family: Fira Sans, sans-serif;
}

.recipe-card img {
    margin-bottom: 1rem;
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
}

.recipe-card h5 {
    font-family: Merriweather, serif;
}

.recipe-card h5, .recipe-card p {
    margin-bottom: 0.5rem;
}

.recipe-buttons {
    display: flex;
    margin-top: auto;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.recipe-buttons .btn {
    flex: 1;
    text-align: center;
}