.recipe-view-section {
    margin: 1.5rem auto;
    max-width: 800px;
}

.recipe-meta {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;
}

.recipe-details {
    margin-bottom: 1.5rem;
}

.recipe-details img {
    margin-bottom: 1rem;
    width: 100%;
    height: 300px;
    object-fit: cover;
}