.user-profile-section {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    font-family: Merriweather, serif;
}

.user-profile {
    margin-bottom: 2rem;
}

.user-actions {
    margin-top: 2rem;
    gap: 1rem
}

#delete-user-modal .form-control {
    width: 100%;
}

.recipe-card {
    display: flex;
    margin-bottom: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    font-family: Fira Sans, sans-serif;
    border: 1px solid #dee2e6;
}

.recipe-card img {
    margin-bottom: 1rem;
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
}

.recipe-card h5 {
    font-family: Merriweather, serif;   
}

.recipe-card h5, .recipe-card p {
    margin-bottom: 0.5rem;
}

.recipe-buttons {
    display: flex;
    margin-top: auto;
    gap: 1rem;
}

.recipe-buttons .btn {
    flex: 1;
    text-align: center;
}